-- 1. ITMS Consumables Table Schema Update
-- 2. Adds vendor_id and model_id columns to the consumables table

-- 3

ALTER TABLE consumables 
  ADD COLUMN vendor_id INT NULL,
  ADD COLUMN model_id INT NULL;
